{% extends 'base.html' %}
{% block title %} Category {% endblock %}</title>

    {% block content %}
    <div description="Upper Bar" class="flex justify-around">
        <span class="block text-center text-xl font-bold"> Category </span>
        </span>
    </div>
    <br>
    {% if category_manage_order %}
    <div description="Management">
        <br>
        <span class="block text-center text-3xl bg-gray-200 p-2">
            상위 카테고리 목록
            <a class="inline bg-green-200 rounded-md text-xl" href="{% url 'notes:ct1_manage_create' %}">
            추가</a><br>
        </span>
        <br>
        {% for obj in ctgy1%}
            <span class="text-black m-1 p-1">{{obj.cate_name}}</span>
            <a class="inline-block bg-green-800 rounded-md text-white" href="{% url 'notes:ct1_manage_edit' obj.id %}">
                수정</a>
            <a class="inline-block bg-green-800 rounded-md m-0.5 text-white" href="{% url 'notes:ct1_manage_del' obj.id %}"> 
                삭제</a><br>
        {% endfor %}
        <br>
        <span class="block text-center text-3xl bg-gray-200 p-2">
            하위 카테고리 목록
            <a class="inline bg-green-200 rounded-md text-xl" href="{% url 'notes:ct2_manage_create' %}">
            추가</a><br>
        </span>
        <br>
        {% for obj in ctgy2%}
            <span class="inline-block bg-green-800 text-xs rounded-md text-white m-1 p-1">{{obj.P_cate_name}}</span>
            <span class="text-black">{{obj.cate2_name}}</span>
            <a class="inline-block bg-green-800 rounded-md m-0.5 text-white" href="{% url 'notes:ct2_manage_edit' obj.id %}">
                수정</a>
            <a class="inline-block bg-green-800 rounded-md m-0.5 text-white" href="{% url 'notes:ct2_manage_del' obj.id %}"> 
                삭제</a><br>
        {% endfor %}
    </div>
    {% endif %}

    {% if delete1order %}
        {% if message %}
        {{message}}
        {% endif %}
        <div description="Delete">
            정말로 삭제합니까? <br>
            대상 카테고리 : <span class="text-2xl">{{ctgy.cate_name}}</span>
            <form action="" method="post"> {%csrf_token%}
                <br><a class="inline-block bg-gray-500 rounded-md text-white mt-4 p-2" href="{% url 'notes:ct_manage_view'%}">돌아가기</a>
                <div class="inline-block bg-gray-500 rounded-md text-white mt-4 p-2">
                    <input type="submit" value="삭제하기">
                </div>
            </form>
        </div>
    {% endif %}

    {% if delete2order %}
    {% if message %}
    {{message}}
    {% endif %}
    <div class="Delete">
        정말로 삭제합니까? <br>
        대상 카테고리 : <span class="text-2xl">{{ctgy.cate2_name}}</span>
        <form action="" method="post"> {%csrf_token%}
            <br><a class="inline-block bg-gray-500 rounded-md text-white mt-4 p-2" href="{% url 'notes:ct_manage_view'%}">돌아가기</a>
            <div class="inline-block bg-gray-500 rounded-md text-white mt-4 p-2">
                <input type="submit" value="삭제하기">
            </div>
        </form>
    </div>
{% endif %}

    {% if list_view_page %}
    <div class="List">
        {% if ctgy_now %}
        <div class="block  bg-gray-200">
                <span class="inline-block rounded-md bg-gray-200 text-center text-xl ml-2 p-2"> 
                    선택한 카테고리 :<br></span>
                <span class="inline rounded-md text-white m-2 p-2 text-xl bg-blue-800">
                    {{ctgy_now}}</span>
                <a class="inline col-span-2 rounded-md text-white bg-green-800" href="javascript:window.history.back()">
                    뒤로 돌아가기</a>
                
        </div>
        {% endif %}
        <br>
        {% if ctgy_list %}
        <div class="Category2_List">
            <span class="block text-center text-3xl bg-gray-200">[카테고리 목록]</span><br>
            <div class="flex justify-evenly">
            {% for obj in ctgy_list %}
                <a class="text-sky-500 text-xl" href="{% url 'notes:Scategory_page' obj.cate2_name %}">
                    {{ obj.cate2_name }}</a>
            {% endfor %}
            </div>
        {% endif %}
        </div>
        <br>
        {% if note_page_list %}
        <div class="Note_List">
            <span class="block text-center text-3xl bg-gray-200">[해당 카테고리 글 목록]</span><br>
            <section class="block text-red-500 text-center">
                게시글은 한 페이지에 20개씩 표시됩니다.<br>
                가장 최신글이 위에 표기됩니다.
            </section>
            {% for object in note_page_list %}
                <li><a class="text-sky-500 text-2xl m-2" href="{% url 'notes:detail_page' object.id %}">{{ object.title|truncatechars:10 }}</a>
                    <br>{{ object.modified_at }}</li><br>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endif %}
    {% endblock %}