{% extends 'base.html' %}
{% block title %} Home {% endblock %} || MyNote</title>

        {% block content %}
        <div description="Upper Bar" class="flex justify-around">
            <span class="block text-center text-xl font-bold"> Home </span>
            </span>
        </div>

        <br>
        <div description="Category List">
            <span class="block text-center text-3xl bg-gray-200">[카테고리 목록]</span><br>
            <div class="flex justify-evenly">
            {% for object in ctgy_list %}
            <a class="text-sky-500 text-xl" href="{% url 'notes:Pcategory_page' object.cate_name %}">{{ object.cate_name }}</a>
            {% endfor %}
            </div>
        </div>

        <br><br>
        
        <div description="Note List">
            <span class="block text-center text-3xl bg-gray-200">[전체글 목록]</span><br>
            <section class="block text-red-500 text-center">
                게시글은 한 페이지에 20개씩 표시됩니다.<br>
                가장 최신글이 위에 표기됩니다.
            </section>
            <br>
            <div class="">
                {% for object in note_page_list %}
                    <li><a class="text-sky-500 text-2xl m-2" href="{% url 'notes:detail_page' object.id %}">
                        {{ object.title|truncatechars:10 }}</a><br>{{ object.created_at }}<br><br></li>
                {% endfor %}
            </div>
        </div>
        <br>
        {% endblock %}