{% extends 'base.html' %}

{% block title %}taggit_cloud{% endblock %}

{% block content %}
    <h1 class="block text-center text-2xl">Tag Cloud</h1>
    <br>
    사용자들의 태그를 볼 수 있습니다. 글은 확인할 수 없습니다.<br><br>

    <div description="tag-cloud" class="">
        {% load taggit_templatetags2_tags %}
        {% get_tagcloud as tags %}
        {% for tag in tags %}
        {% if tag.num_times != 0 %}
            <a href="{% url 'notes:tagged_object_list' tag.name %}">
                <span class="inline-block bg-green-800 rounded-full text-white m-1 p-1">
                    {{tag.name}}({{tag.num_times}})
                </span>
            </a>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}