{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% block content %}
    <h1 class="block text-center text-2xl">회원 가입</h1><br>
    <form action="" method="POST"> 
        {% csrf_token %}
        <!-- <div>
            {{ form.as_ul }}
        </div> -->
        <div class="border-2 border-gray-200 rounded p-4 m-4 flex flex-col justify-center">
            <div class="text-grey-darker text-sm font-bold m-8">
                <span class="text-center">{{ form.identifier.label }}  </span><br>
                <span class="">{{ form.identifier }}</span><br>

                <span class="bg-green-200">{{ form.password1.label }}</span><br>
                <span class="">{{ form.password1 }}</span><br>

                <span class="bg-green-200">{{ form.password2.label }}</span><br>
                <span class="">{{ form.password2 }}</span><br>

                <span class="bg-green-200">{{ form.nickname.label }}</span><br>
                <span class="">{{ form.nickname }}</span><br>

                <span class="bg-green-200">{{ form.username.label }}</span><br>
                <span class="">{{ form.username }}</span><br>

                <span class="bg-green-200">{{ form.email.label }}</span><br>
                <span class="">{{ form.email }}</span><br>

                <span class="bg-green-200">{{ form.phone.label }}</span><br>
                <span class="">{{ form.phone }}</span><br>
            </div>
        </div>
        <br>
        <div class="inline-block bg-gray-500 rounded-md text-white mt-4 p-2">
            <input type="submit" value="계정 생성">
        </div>
        <a class="inline-block bg-gray-500 rounded-md text-white mt-4 p-2" href="{% url 'index' %}">돌아가기</a>
    </form>
    
{% endblock %}